<%- include("partials/header.ejs") %>

    <div class="container"> 
        <div class="item">
            <h1> <%= task.title %> </h1>
            <br>
            <p> <%= task.event %> </p>
        </div>
    </div>  
    
    <%- include("partials/footer.ejs") %>

</body> 

</html>